html {
  background-color: rgb(247, 247, 247);
}

body {
  margin-bottom: 50px;
}

i {
  color: #5bc775;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;
  color: #5bc775;
  text-align: center;
  padding: 0.5rem;
}

.input {
  border: solid black 1px;
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

.notification.is-dark {
  color: #5bc775;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title {
  text-align: center;
}

.hero.is-dark .title {
  color: #5bc775;
  font-size: 40px;
}

.title .icon {
  margin-left: 15px;
}

.fa-film {
  color: #5bc775;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.dropdown-menu {
  max-height: 16em;
}

.dropdown-content {
  overflow-y: scroll;
  max-height: inherit;
}

.winner {
  padding: 5px;
  border: dotted #5bc775 4px;
}
